.primary {
  @include button-base;
  gap: 8px;
  padding: 0 16px;
  border-radius: 4px;
  background: $color-primary;
  color: $color-text-secondary;
  height: 44px;
  border: 1px solid $color-primary;
  transition: background-color 0.2s ease, border-color 0.2s ease;

  &:hover:not(:disabled) {
    background: darken($color-primary, 10%);
    border-color: darken($color-primary, 10%);
  }

  &:disabled {
    background: map-get($gray-scale, 4);
    border-color: map-get($gray-scale, 4);
    color: map-get($gray-scale, 6);
    cursor: not-allowed;
  }
}

.secondary {
  @include button-base;
  gap: 8px;
  padding: 0 16px 0 8px;
  border-radius: 4px;
  background: $color-white;
  color: $color-text;
  height: 38px;
  border: 1px solid $color-text;
  transition: background-color 0.2s ease, border-color 0.2s ease;

  &:hover:not(:disabled) {
    background: map-get($gray-scale, 1);
  }

  &:disabled {
    background: map-get($gray-scale, 2);
    border-color: map-get($gray-scale, 4);
    color: map-get($gray-scale, 6);
    cursor: not-allowed;
  }
}
