$color-primary: #3a75bb;
$color-bg: #f8f8fb;
$color-white: #ffffff;
$color-text: #2c3647;
$color-text-secondary: #ffffff;
$color-danger: #a02307;
$color-border: #eaeaf3;
$color-border-secondary: #cbcbd9;
$color-text-day: #2f2f2f;
$color-text-time: #222222;
$color-text-status: #484848;
$color-input-border: #6d717f;

$gray-scale: (
  1: #ffffff,
  2: #f8f8fb,
  3: #eaeaf3,
  4: #cbcbd9,
  5: #acacb3,
  6: #898989,
  7: #484848,
  8: #2f2f2f,
  9: #222222,
);

$primary: (
  1: #eff5fb,
  3: #b3d5fd,
  4: #5793db,
  5: #3a75bb,
  6: #215491,
);

$red: (
  6: #cb4123,
);

//appointments
$appointments: (
  complete: (
    bg: #eff5fb,
    border: #3a75bb,
    divider: #b3d5fd,
  ),
  new: (
    bg: #edfdf8,
    border: #1c8882,
    divider: #c4f5e6,
  ),
  cancelled: (
    bg: #ffedea,
    border: #a02307,
    divider: #ffc6c0,
  ),
  paid: (
    bg: #fef2e3,
    border: #ee8030,
    divider: #ffd973,
  ),
  confirmed: (
    bg: #eaeaf3,
    border: #2f2f2f,
    divider: #acacb3,
  ),
  disabled: (
    bg: #eaeaf3,
    border: #2f2f2f,
    divider: #acacb3,
  ),
);

$container-width: 1272px;
$standard-radius: 8px;
$border-radius-sm: 4px;

$font-main: "Montserrat", sans-serif;
